.dangbai{
    display: flex;
}
.container1{
    width: 65%;
}
.container2{
    width: 5%;
}
.container3{
    width: 30%;
}
.formGroup1{
    display: flex;
}
.group11{
    width: 65%;
    padding-right: 25px;
}
.group12{
    width: 35%;
}
.formGroup2{
    display: flex;
}